.tags li{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: rgba(82,37,247,.07058823529411765);
    box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.my-item li{
    list-style: none;
    text-align: left;
    padding: 5px 5px;
    color: #555;
  }
.project-link {
    text-align: left;
    margin-left: 25px;
  }
.project-link a {
    text-decoration: none;
    padding: 15px;
  }
